#client
client/node_modules/
client/.expo/
client/dist/
client/web-build/
client/*.orig.*
client/*.jks
client/*.p8
client/*.p12
client/*.key
client/*.mobileprovision
client/.metro-health-check*
client/npm-debug.*
client/yarn-debug.*
client/yarn-error.*
client/.DS_Store
client/*.pem
client/.env*.local
client/*.tsbuildinfo

#server
server/nbproject/
server/test/
server/src/java/util/config.java